.footer {
    background: $black-color;

    &__container {
        display: flex;
        flex-direction: column;
        @include container
    }

    &__icon {
        display: flex;
        margin: 0 auto;
        gap: 34px;
    }

    &__icon-leaf::before {
        content: url();
        background-image: url(../images/icons/fi-rr-leaf.svg);
        display: inline-block;
        width: 24px;
        height: 24px;
    }

    &__icon-carrot::before {
        content: url();
        background-image: url(../images/icons/fi-rr-carrot.svg);
        display: inline-block;
        width: 24px;
        height: 24px;
    }

    &__icon-physics::before {
        content: url();
        background-image: url(../images/icons/fi-rr-physics.svg);
        display: inline-block;
        width: 24px;
        height: 24px;
    }

    &__icon-magic::before {
        content: url();
        background-image: url(../images/icons/fi-rr-magic-wand.svg);
        display: inline-block;
        width: 24px;
        height: 24px;
    }

    &__copy {
        color: $white-color;
        text-align: center;
        font-family: $font-manrope;
        font-size: $size-x;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-top: 21px;
        margin-bottom: 30px;
    }
}

@import './adaptive.scss';