// SCROLL MENU START

.nav-fixed {
    width: 100%;
    position: fixed;
    transition: 0.3s ease-in-out;
    z-index: 1;
}

.nav-active {
    background: var(--Unnamed-Color, #202020);
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.50);
}

.header__container {
    @include container
}

// SCROLL MENU END

// LOGO START

.logo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

.logo::before {
    content: url();
    background-image: url(../images/icons/logo.svg);
    display: inline-block;
    width: 56px;
    height: 56px;
}

// LOGO END

// MENU START 

.menu__list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu__item {
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;

    border-radius: 20px;
    border: 1px solid $white-color;

    color: $white-color;
    font-family: $font-manrope;
    font-size: $size-x;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.menu__item--document::before {
    content: url();
    background-image: url(../images/icons/fi-rr-document.svg);
    display: inline-block;
    width: 24px;
    height: 24px;
}

.menu__item--flower::before {
    content: url();
    background-image: url(../images/icons/fi-rr-flower-tulip.svg);
    display: inline-block;
    width: 24px;
    height: 24px;
}

.menu__item--heart::before {
    content: url();
    background-image: url(../images/icons/fi-rr-comment-heart.svg);
    display: inline-block;
    width: 24px;
    height: 24px;
}

.menu__item--smile::before {
    content: url();
    background-image: url(../images/icons/fi-rr-smile-wink.svg);
    display: inline-block;
    width: 24px;
    height: 24px;
}

// BURGER MENU

.logo-menu__burger-btn {
    background-color: transparent;
    border: none;
    display: none;
}

// MENU END