// SECTION CONTENT START

.content {
    background: var(--Unnamed-Color, linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%));

    &__container {
        @include container
    }

    &__headering {
        width: 846px;
        color: $white-color;
        font-family: $font-dynapuff;
        font-size: 80px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-top: 394px;
        padding-bottom: 119px;
    }
}

// SECTION CONTENT END

// SECTION MEET START

.meet {
    background: $black-color;
    position: relative;

    &::after {
        content: url();
        background-image: url(../images/icons/ellipse.svg);
        background-repeat: no-repeat;
        position: absolute;
        width: 405px;
        height: 500px;
        right: 0;
        bottom: 10px;
    }

    &__container {
        height: 470px;
        @include container
    }

    &__headering {
        color: var(--Unnamed-Color, #FAEB49);
        font-family: $font-dynapuff;
        font-size: $size-y;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 101px 0 40px 0;
    }

    &__description {
        width: 524px;
        color: $white-color;
        font-family: $font-manrope;
        font-size: $size-x;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-bottom: 40px;
    }
}

.numbers {
    display: flex;
    gap: 96px;

    &__title {
        display: flex;
        flex-direction: column;
        color: $white-color;
        font-family: $font-manrope;
        font-size: $size-x;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__sum {
        color: $white-color;
        font-family: $font-dynapuff;
        font-size: $size-y;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 5px;
    }
}

// SECTION MEET END

// SECTION CARD START

.card {
    display: flex;
    flex-direction: column;
    background: var(--Unnamed-Color, #3C3C3C);

    &__container {
        @include container
    }

    &__project {
        display: flex;
        justify-content: center;
        width: 1010px;
        padding: 24px 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        margin-bottom: 63px;
        margin-top: 86px;

        border-radius: 24px;
        background: var(--Unnamed-Color, #FFFEF2);
    }

    &__title {
        align-self: stretch;
        color: $grey-color;
        font-family: $font-dynapuff;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-decoration: none;
    }

    &__description {
        width: 580px;
        color: var(--Unnamed-Color, #000);
        font-family: $font-manrope;
        font-size: $size-x;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-decoration: none;
    }

    &__all {
        display: flex;
        gap: 40px;
        margin-bottom: 86px;
    }

    &__all-banking {
        display: flex;
        width: 285px;
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        flex-shrink: 0;

        border-radius: 24px;
        background: var(--Unnamed-Color, #FFFEF2);
    }

    &__title-2 {
        align-self: stretch;
        color: $grey-color;
        font-family: $font-dynapuff;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-decoration: none;
    }

    &__description-2 {
        width: 285px;
        color: var(--Unnamed-Color, #000);
        font-family: $font-manrope;
        font-size: $size-x;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-decoration: none;
    }
}

// SECTION CARD END

// SECTION DESIGN START

.design {
    background: $black-color;

    &__container {
        display: flex;
        flex-direction: column;
        position: relative;
        @include container
    }

    &__headering {
        color: $white-color;
        font-family: $font-dynapuff;
        font-size: 80px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 82px;
        margin-bottom: 38px;
    }

    &__photo {
        width: 1060px;
        margin-bottom: 26px;
    }

    &__photo--star::after {
        content: url();
        position: absolute;
        background-image: url(../images/Soft-Star.svg);
        width: 268px;
        height: 268px;
        top: 295px;
        bottom: 657px;
        left: 410px;
    }

    &__rectangle {
        display: flex;
        gap: 26px;
        margin-bottom: 138px;
        position: relative;
    }

    &__rectangle-photo {
        width: 505px;
    }

    &__rectangle--butterfly::after {
        content: url();
        position: absolute;
        background-image: url(../images/Butterfly.svg);
        background-repeat: no-repeat;
        width: 268px;
        height: 268px;
        top: 111px;
        bottom: 111px;
        left: 164px;
    }

    &__rectangle--asterisk::after {
        content: url();
        position: absolute;
        background-image: url(../images/Asterisk.svg);
        background-repeat: no-repeat;
        width: 268px;
        height: 268px;
        top: 95px;
        bottom: 95px;
        left: 685px;
    }
    
}

// SECTION DESIGN END

// SECTION REFRIGIRATOR START

.refrigirator {
    background: url(../images/Rectangle-8.jpg) no-repeat;
    background-size: cover;

    &__container {
        @include container
    }

    &__description {
        width: 1059px;
        color: $white-color;
        text-align: center;
        font-family: $font-dynapuff;
        font-size: $size-y;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-top: 303px;
        padding-bottom: 323px;
    }
}

// SECTION REFRIGIRATOR END