@media (max-width: 1200px) {
    .menu {
        display: none;
    }

    .logo-menu__burger-btn {
        display: block;
        margin-left: auto;
    }

    .content__headering {
        width: 521px;
        padding-top: 179px;
    }

    .card__project {
        width: 703px;
    }

    .card__project-photo {
        width: 703px;
        height: 498px;
    }

    #card-none {
        display: none;
    }

    .card__all-banking {
        width: 312px;
    }
    
    #card-photo {
        height: 448px;
        width: 314px;
    }

    .design__headering {
        margin: 82px auto 38px auto;
    }

    .design__photo {
        width: 730px;
        height: 414px;
        margin: 0 auto 26px auto;
    }

    .design__rectangle {
        width: 730px;
        margin: 0 auto;
        
    }

    .design__rectangle-photo {
        width: 336px;
        height: 325px;
        margin-bottom: 129px;
    }

    .design__rectangle--butterfly::after {
        top: 75px;
        left: 80px;
    }

    .design__rectangle--asterisk::after {
        top: 55px;
        left: 440px;
    }

    .refrigirator__description {
        width: 704px;
        margin: 0px auto 0 auto;
    }

    .footer__btn {
        max-width: 490px;
        padding: 42px 50px 42px 330px;
        margin: 96px auto 60px auto;
    }
}

@media (max-width: 768px) {
    .content__headering {
        font-size: 48px;
        width: 326px;
    }

    .meet__headering {
        width: 342px;
        font-size: 36px;
    }

    .meet__description {
        width: 342px;
        font-size: 15px;
    }

    .numbers {
        gap: 14px;

        &__title {
            font-size: 16px;
        }

        &__num {
            font-size: 36px;
        }
    }

    .card__project {
        width: 343px;
        height: 488px;
        gap: 20px;
    }

    .card__project-photo {
        width: 343px;
        height: 278px;
    }

    .card__title {
        font-size: 32px;
    }

    .card__description {
        width: 311px;
        font-size: 15px;
    }

    #card-none-2 {
        display: none;
    }

    .card__all-banking {
        width: 343px;
        height: 488px;
        gap: 20px;
    }
    
    #card-photo {
        width: 343px;
        height: 278px;
    }

    .card__title-2 {
        font-size: 32px;
    }

    .card__description-2 {
        width: 311px;
        font-size: 15px;
    }

    .design__headering {
        font-size: 36px;
    }

    .design__photo {
        width: 343px;
        height: 325px;
        flex-shrink: 0;
    }

    .design__rectangle {
        flex-direction: column;
        margin-bottom: 93px;
    }

    .design__rectangle-photo {
        margin: 0 auto;
    }

    .design__photo--star::after {
        top: 200px;
        left: 250px;
    }

    .design__rectangle--butterfly::after {
        top: 75px;
        left: 275px;
    }

    .design__rectangle--asterisk::after {
        top: 430px;
        left: 250px;
    }

    .refrigirator__description {
        width: 343px;
        font-size: 24px;
    }

    .footer__btn {
        max-width: 342px;
        padding: 14px 50px 14px 130px;
        margin: 96px auto 60px auto;

        font-size: 20px;
    }

    .footer__btn-book {
        font-size: 15px;
    }

    .footer__btn--icon::before {
        content: url();
        position: absolute;
        background-image: url(../images/icons/Dawn-2.svg);
        background-repeat: no-repeat;
        width: 52px;
        height: 52px;
        top: 20px;
        bottom: 22px;
        left: 37px;
    }

    .footer__btn-book::after {
        content: url();
        background-image: url(../images/icons/arrow-2.svg);
        background-repeat: no-repeat;
        display: inline-block;
        width: 36px;
        height: 17px;
        margin-left: 24px;
        margin-top: 17px;
    }
}
