.footer__btn {
    display: inline-flex;
    flex-direction: column;
    padding: 42px 285px;
    align-items: flex-start;
    text-decoration: none;
    margin-top: 78px;
    margin-bottom: 163px;
    position: relative;

    border-radius: 139px;
    border: 1px solid var(--Unnamed-Color, #F2F2F2);

    color: var(--Unnamed-Color, #FFF);
    text-align: center;
    font-family: DynaPuff;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

.footer__btn-book {
        color: var(--Unnamed-Color, #FFF);
        text-align: center;
        font-family: Manrope;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    
        &::after {
            content: url();
            background-image: url(../images/icons/arrow.svg);
            background-repeat: no-repeat;
            display: inline-block;
            width: 59px;
            height: 26px;
            margin-left: 24px;
            margin-top: 17px;
        }
    }

.footer__btn--icon::before {
        content: url();
        position: absolute;
        background-image: url(../images/icons/Dawn.svg);
        background-repeat: no-repeat;
        width: 108px;
        height: 108px;
        top: 42px;
        bottom: 42px;
        left: 137px;
    }
}



